/**************/
/*   Avatar   */
/**************/
.vs-avatar--con-img img {
    object-fit: cover;
    object-position: center;
}

/*************/
/*   Image   */
/*************/
.vs-image--img {
    background-size: cover;
    background-position: center;
}
